@{
    ViewData["Title"] = "Laporan Pertemuan";
}

<!--start style section-->
<link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--end style section-->

<!--start section-->
<section class="row">
        <div class="col-12 kartu">
        <div class="card w-100 h-100">
            <div class="card-body">
                <h4 class="card-title">Batas Desa</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="txt-id-desa" placeholder="ID Desa">
                        </div>
                        <div class="form-group col-md-4">
                        </div>
                        <div class="form-group col-md-4">
                        </div>
                        <div class="form-group col-md-4">
                            <select id="inputState" class="form-control">
                                <option selected class="text-muted">Nama Desa</option>
                                <option value="1">Desa 1</option>
                                <option value="2">Desa 2</option>
                                <option value="3">Desa 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="txt-id-kecamatan" placeholder="ID Kecamatan">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="txt-id-kabupaten" placeholder="ID Kabupaten">
                        </div>
                        <div class="form-group col-md-4">
                            <select id="inputState" class="form-control">
                                <option selected class="text-muted">Batas Wilayah</option>
                                <option value="1">Wilayah 1</option>
                                <option value="2">Wilayah 2</option>
                                <option value="3">Wilayah 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <select id="inputState" class="form-control">
                                <option selected class="text-muted">Nama Kecamatan</option>
                                <option value="1">Kecamatan 1</option>
                                <option value="2">Kecamatan 2</option>
                                <option value="3">Kecamatan 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <select id="inputState" class="form-control">
                                <option selected class="text-muted">Nama Kabupaten</option>
                                <option value="1">Kabupaten 1</option>
                                <option value="2">Kabupaten 2</option>
                                <option value="3">Kabupaten 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">Tahap proses penetapan tata batas</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label">Status tata batas</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="txt-koordinat" placeholder="Koordinat">
                        </div>
                        <div class="form-group col-md-4">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Identifikasi</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Musyawarah desa</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Musyawarah antar desa</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Rapat koordinasi Tim Penegasan dan Penetapan Batas Desa</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Penetapan batas desa oleh bupati melalui perbup</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Usulan</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Verifikasi</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Penetapan</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="txt-luas" placeholder="Luas">
                        </div>
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-primary btn-block">Perbarui</button>
                        </div>
                        <div class="form-group col-md-4">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="custom-file">
                                <input type="file" class="custom-file-input" required id="exampleFormControlFile1">
                                <span class="custom-file-control text-muted">Unggah berkas</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--end fo section-->

