@{
    ViewData["Title"] = "Tipologi Permasalahan Agraria";
}

<!--start style section-->
<link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--end style section-->

<!--start section-->
<section class="row">
    <div class="col-12 kartu">
        <div class="card w-100 h-100">
            <div class="card-body">
                <h4 sclass="card-title">Form Tipologi Permasalahan Agraria</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Jumlah Penduduk</label>
                        <input type="Text" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputEmail4">Pemenuhan Prasyarat</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Luas Wilayah</label>
                        <input type="Text" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Bentangan Lahan</label>
                        <input type="Text" class="form-control" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="custom-file">
                            <input type="file" class="custom-file-input" required id="exampleFormControlFile1">
                            <span class="custom-file-control text-muted">Unggah Photo</span>
                        </label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 col-md-2 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block">Simpan</button>
                    </div>
                    <div class="col-6 col-md-2 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-danger btn-block">Hapus</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--end fo section-->

